clouds:
  openstack:
    auth:
      auth_url: {{ os_auth_url }}
      password: {{ os_password }}
      project_domain_id: default
      project_name: {{ os_user_name }}
      user_domain_id: default
      username: {{ os_user_name }}
    identity_api_version: '3'
    region_name: RegionOne
    volume_api_version: '2'
